WebServices-Products/src/main/webapp/wsdl/ProductsLister.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://products.webservices.javasql2.edureka.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://products.webservices.javasql2.edureka.com" xmlns:intf="http://products.webservices.javasql2.edureka.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://products.webservices.javasql2.edureka.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="listProducts">
    <complexType>
     <sequence>
      <element name="category" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listProductsResponse">
    <complexType>
     <sequence>
      <element name="listProductsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="listProductsResponse">

      <wsdl:part element="impl:listProductsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listProductsRequest">

      <wsdl:part element="impl:listProducts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductsLister">

      <wsdl:operation name="listProducts">

         <wsdl:input message="impl:listProductsRequest" name="listProductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:listProductsResponse" name="listProductsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductsListerSoapBinding" type="impl:ProductsLister">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listProducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listProductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listProductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductsListerService">

      <wsdl:port binding="impl:ProductsListerSoapBinding" name="ProductsLister">

         <wsdlsoap:address location="http://localhost:8080/WebServices-Products/services/ProductsLister"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
